@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import "tailwindcss";

@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}

        body { font-family: 'Inter', sans-serif; background-color: #f3f4f6; }
        .hide-scrollbar::-webkit-scrollbar { display: none; }
        .hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
        .touch-action-manipulation { touch-action: manipulation; }
        
        /* Utility class untuk animasi fade sederhana */
        .fade-enter-active, .fade-leave-active { transition: opacity 0.3s ease; }
        .fade-enter-from, .fade-leave-to { opacity: 0; }
